<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Matrix Recorder - Recordings</title>

  <style type="text/css">
    body {
      font-family: San Francisco, Arial, Helvetica, sans-serif;
      font-size: small;
    }

    .room-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 20%;
      height: 98%;
      background-color: #c2d5ff;
      overflow-y: scroll;
    }

    .timeline iframe {
      position: absolute;
      top: 0;
      left: 22%;
      width: 76%;
      height: 98%;
      border: 0;
    }

  </style>

</head>

<body>
  <div class="room-list">
    <ul>
      {{#rooms}}
        <li><a href="{{room_file}}" target="timeline">{{room_name}}</a></li>
      {{/rooms}}
    </ul>
  </div>

  <div class="timeline">
    <iframe src="welcome.html" name="timeline" id="timeline_iframe"></iframe>
  </div>
</body>

</html>
